version: '3.8'

services:
  gateway:
    build: ./services/gateway/
    container_name: gateway
    ports:
      - "4000:3000"
    environment:
      - PORT=3000
      - USERS_SERVICE_URL=http://users:3000
      - ORDERS_SERVICE_URL=http://orders:8000
    depends_on:
      - users
    networks:
      - internal
  users:
    build: ./services/users/
    container_name: users
    environment:
      - PORT=3000
    networks:
      - internal
  orders:
    build: ./services/orders/
    container_name: orders
    networks:
      - internal

networks:
  internal:
    driver: bridge
